.cover__link {
    position: relative;
    width: 92%;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/cover__background.jpg);
    min-height: 740px;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}
.cover__link:hover::after {
    opacity: 0.8;
    transition: opacity .3s linear;
}

@media (min-width: 1290px) {
    .cover__link{
        width: 1184px;
    }
} 

@media (max-width: 1024px) {
    .cover__link {
        width: 100%;
        min-height: 640px;
    }
}
@media (max-width: 768px) {
    .cover__link {
        min-height: 480px;
    }
}
@media (max-width: 560px) {
    .cover__link {
        min-height: 350px;
    }
}
@media (max-width: 400px) {
    .cover__link {
        min-height: 200px;
    }
}