.cover__link {
    position: relative;
    width: 92%;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/cover__background.jpg);
    min-height: 94vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}
.cover__link:hover::after {
    opacity: 0.8;
}

@media (min-width: 1290px) {
    .cover__link{
        width: 1184px;
        min-height: 740px;
        margin: 0 auto;
    }
} 

@media (max-width: 1024px) {
    .cover__link {
        width: 100%;
        min-height: 81vh;
    }
}
@media (max-width: 768px) {
    .cover__link {
        min-height: 81vh;
    }
}
@media (max-width: 650px) {
    .cover__link {
        min-height: 70vh;
    }
}
@media (max-width: 520px) {
    .cover__link {
        min-height: 60vh;
    }
}
@media (max-width: 440px) {
    .cover__link {
        min-height: 50vh;
    }
}
@media (max-width: 370px) {
    .cover__link {
        min-height: 40vh;
    }
}
@media (max-width: 320px) {
    .cover__link {
        min-height: 33vh;
    }
}