.header__links {
    flex-basis: 77px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 320px) {
    .header__links {
        flex-basis: 62px;
    }
}