.lead {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    padding-bottom: 92px;
}

@media (min-width: 1290px) {
    .lead{
        width: 984px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .lead {
        padding-bottom: 88px;
    }
}
@media (max-width: 320px) {
    .lead {
        padding-bottom: 64px;
    }
}