.intro {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    padding-bottom: 92px;
}

@media (max-width: 768px) {
    .intro {
        padding-bottom: 88px;
        max-width: 94%;
        margin: auto;
    }
}
@media (max-width: 320px) {
    .intro {
        padding-bottom: 64px;
        width: 90%;
        margin: auto;
    }
}