.footer {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    width: 92%;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .footer {
        width: 91%;
    }
}
@media (max-width: 768px) {
    .footer {
        width: 94%;
    }
}
@media (max-width: 680px) {
    .footer {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }
}